
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Styles/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div id="conteneur">
        <label id="lbNom">Nom : </label><input type="text" value="" placeholder="Nom" />
        <label id="lbDescriptif">Descriptif : </label>
        <textarea id="descriptif"></textarea>
        <label id="lbPromotion">En promotion ?</label><input type="checkbox" id="promotion" /><br />
        <label id="lbPhoto">Photo : </label><input id="fileToUpload" type="file" /><input type="button" value="Preview" id="preview" />
        <img id="imgPreview" src="" />
        <input type="button" value="Valider" id="valider" disabled />
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.2.1.js"></script>
@* 
TODO LIST
    * vérifier que le fichier est bien une image
    * Capturer l'erreur coté serveur si ce n'est pas une image
    * Vérifier que le fichier repsecte les conditions de poids
    * vérifier que chaque champs est bien du type voulu
    * Retourner différentes erreurs en JSON pour les traiter côté clients
    * Confirmer à l'utilisateur que l'enregistrement s'est bien déroulé
    * Vérifier que la BDD est contactable
    * Image par défaut en cas de mauvais retour

*@