
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/stylesheet/StyleSheet1.css" rel="stylesheet" />
    <title>Ex02 : popup pub</title>
</head>
<body>
    <div id="lorem">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus tincidunt nibh sed eleifend. Fusce pulvinar arcu eu nulla viverra consequat. Vestibulum magna est, suscipit ut nunc ac, vehicula faucibus tellus. Fusce euismod nulla sapien, a iaculis dui porttitor non. Quisque efficitur vestibulum rhoncus. Sed tristique augue neque, ac interdum eros condimentum ut. Ut quis libero iaculis, imperdiet lacus sit amet, ornare eros. Quisque vitae fringilla dui. Vestibulum consequat nisi enim, quis euismod odio iaculis sit amet. Donec id mauris nec augue egestas lacinia. Curabitur nec sem quis justo pharetra scelerisque. Praesent et fringilla ligula. Etiam hendrerit rhoncus condimentum. Praesent vel vulputate nisi, ut vestibulum ante.

        Aliquam eu tristique dolor. Nam auctor faucibus massa ut convallis. Aliquam a auctor mauris. Vestibulum sodales rutrum laoreet. Pellentesque pretium cursus lorem id dapibus. Phasellus ex nisl, pulvinar non sem vel, pulvinar placerat arcu. Aenean porttitor, tortor non pretium euismod, augue sem pulvinar orci, id mollis ipsum arcu nec urna. Mauris eget lorem id felis vestibulum suscipit. Suspendisse ut sapien augue. Vestibulum ullamcorper tortor quis feugiat vehicula.

        Suspendisse eu sollicitudin felis, nec mattis neque. Morbi vestibulum ipsum at felis posuere gravida. Nam tempor eros id ligula tempor hendrerit. Pellentesque quam turpis, ullamcorper sed hendrerit et, tempus quis mi. Nullam congue consectetur magna, at ullamcorper erat blandit sed. Fusce condimentum lacus dapibus mauris maximus dignissim. Suspendisse mollis dignissim placerat. Sed eleifend diam sed erat congue pretium. Etiam et lectus nec tellus feugiat ornare. Morbi dapibus semper nisl, sit amet vulputate justo feugiat eget. Curabitur lobortis sodales bibendum. Aliquam enim dolor, semper non rhoncus id, lacinia vel tellus. Phasellus malesuada, orci ut convallis eleifend, nulla ex tincidunt nisi, at sagittis dolor eros vel justo. Donec vulputate commodo eleifend.

        Pellentesque consectetur imperdiet eros nec dictum. Sed consequat nulla nec viverra laoreet. Nunc placerat orci sit amet porttitor sollicitudin. Proin lacus est, fringilla id pretium sed, pulvinar ut nulla. Duis bibendum purus a ante placerat mattis. Etiam at eros id urna elementum pellentesque in at tellus. Integer dapibus est a purus cursus, et auctor justo rutrum. Cras eu lacinia metus. Cras blandit orci justo, non rutrum lorem vulputate vitae. Donec quis dolor id justo feugiat convallis ac non erat. Pellentesque rhoncus neque eget iaculis rhoncus. Ut venenatis egestas risus a tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras elit justo, scelerisque quis egestas non, dapibus sit amet enim. Mauris risus ante, dapibus sagittis tincidunt a, sodales nec lacus.

        Maecenas volutpat vulputate dapibus. Nunc ultrices dolor ut tincidunt hendrerit. Pellentesque convallis tincidunt metus nec sollicitudin. Proin iaculis dui nisi. Nulla iaculis arcu quis ante egestas aliquet. Donec molestie quam libero, varius ultrices nulla suscipit faucibus. Mauris vehicula quam quis quam aliquam, ut sodales sem viverra. Morbi metus eros, volutpat quis erat eget, varius placerat nisl. Morbi ut maximus mi. Vivamus suscipit vestibulum massa.

        5 paragraphes, 468 mots, 3243 caractères de Lore
    </div>
    <div id="transparence">&nbsp;</div>
    <div id="popupPub">
        <div><img src="~/img/fermer0.png" onclick="hidePub()" /></div>
        <img src="~/img/pub.jpg" />
        <div id="decompteur">
            <span id="seconde"></span> secondes
        </div>
    </div>
</body>
</html>
<script src="~/script/js.js"></script>

