body {
margin : 0px;
padding:0px;
background-color:white;
}
#entete {
    height: 250px;
    margin: 0px;
    padding: 0px;
    background-color: #89c3eb;
}
img {
    float : left;
    margin : 0px;
    border : none;
}
h1{
    color : black;
    text-align : center;
    line-height:250px;
    font-size:50px;
    margin:0px 0px 0px 0px;
    padding:0px;
}
#menuTop{
    height : 37px;
    text-align:center;
}

    #menuTop li {
        text-decoration: none;
        width: 100px;
        height: 25px;
        font-size: 15px;
        line-height: 25px;
        margin: 0px;
        padding: 0px;
        display: inline-block;
        border: 1px solid black;
        background: linear-gradient(to bottom, #1e5799 0%,#207cca 33%,#207cca 33%,#2989d8 52%,#7db9e8 100%);
    }
    #menuTop ul {
        text-decoration: none;
        margin: 0px;
        padding: 0px;
        text-align: center;
        background: linear-gradient(to bottom, #89c3eb 49%,#d5ebfb 100%);
        box-shadow: 0px 3px 1px #6e6e6e;
    }

#menuTop a{
    display:block;
    width:100%;
    height:100%;
}

#menuTop a:visited{
    color : white;
}
    #menuTop a:link {
        color: white;
    }
    #menuTop a:active {
        color: white;
    }
    #menuTop a:hover {
        color: deepskyblue;
    }
#conteneurForm {
    width: 400px;
    margin: auto;
    margin-top: 25px;
    border: 1px solid red;
}

#conteneurForm label {
    display: block;
    text-align: right;
}

#conteneurForm label input {
    margin: 5px;
    margin-left: 15px;
}