
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ajax & Jquery</title>
</head>
<body>
    <div id="conteneur">
        <form enctype="application/x-www-form-urlencoded" method="get" action="Home/Traitement">
            <label>Nom : </label><input id="identite" type="text" name="identite" value="" /><br />
            <label>prenom : </label><input id="prenom" type="text" name="prenom" value="" /><br />
            <input id="sub" type="button" value="Soumettre la requête" />
        </form>
    </div>
</body>
</html>
<script defer src="~/Script/jquery-3.2.1.js"></script>