<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../StyleSheet/StyleSheet1.css" rel="stylesheet" />
    <script>
        function loadScriptAfterDOMReady() {
            var script = document.createElement('script');
            script.src = "\\script\\Script.js";
            document.head.appendChild(script);

            script.onload = function () { document.removeEventListener('DOMContentLoaded', loadScriptAfterDOMReady); };
        }

        document.addEventListener('DOMContentLoaded', loadScriptAfterDOMReady);

    </script>
</head>
<body>
    <div id="entete">
        <img src="~/img/html5250.png" />
        <h1>HTML5</h1>
    </div>
    <div id="menuTop"><ul><li><a href="#">Produits</a></li><li><a href="#">XXXXXX</a></li><li><a href="#">XXXXXX</a></li><li><a href="#">Societe</a></li></ul></div>
    <div id="button">
        <input type="button" value="Toggle" id="btStart" />
        <input type="button" value="Reset" id="btResetBackground" />
    </div>
    <div id="monForm">
        <form action="~/Views/Home/index.cshtml" enctype="multipart/form-data" method="get">
            <label id="pseudo">Pseudonyme : <input name="pseudo" type="text" /></label>
            <label id="passwd">Password : <input name="passwd" type="text" /></label>
            <label id="bornDate">Date de naissance : <input name="bornDate" type="date" /></label>
            <input type="button" value="Reset" id="resetForm" />
            <input type="submit" value="Envoyer" />
        </form>
    </div>
</body>
</html>