body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: #d4d4d4;
}
label {
    font-size: 20px;
    display: inline-block;
    width: 150px;
}
input[type=button], #fileToUpload {
    -moz-box-shadow: inset 0px -3px 7px 0px #29bbff;
    -webkit-box-shadow: inset 0px -3px 7px 0px #29bbff;
    box-shadow: inset 0px -3px 7px 0px #29bbff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
    background: -moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background: -webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background: -o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background: -ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
    background-color: #2dabf9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #0b0e07;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 9px 23px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
}

    input[type=button]:hover, #fileToUpload:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
        background: -moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
        background: -webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
        background: -o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
        background: -ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
        background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
        background-color: #0688fa;
    }

    input[type=button]:active, #fileToUpload:active {
        position: relative;
        top: 1px;
    }

#fileToUpload{
    cursor:pointer;
    text-align:center;
    display:inline-block;
    width:140px;
}

#conteneur {
    width: 800px;
    border: 1px solid white;
    margin: 0px auto;
}

form {
    width: 495px;
    /*border: 1px solid red;*/
    display: inline-block;
    height: 350px;
    vertical-align:top;
    margin:0px;
}

input[type=text], textarea {
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: black;
    color: #ebebeb;
    display: block;
    margin: 10px auto;
    width:300px;
    display:inline-block;
}
textarea{
    vertical-align:top;
}

input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
#preview{
    margin:0px 0px 0px 5px ;
    width : 100px;
}
#Valider {
    display: block;
    width: 400px;
    margin: 50px auto 5px auto;
}
#imgPreview {
    border:1px solid white;
    width:200px;
    height:200px;
    padding:10px;
    border-radius:5px;
    margin : 20px auto;
    display:block;
}
#conteneurImgPreview{
    border-right : 1px solid white;
    display:inline-block;
    width:295px;
    height:350px;
}
#messImg, #messForm {
    color: red;
    font-size: 16px;
    text-align: center;
    margin: 5px auto;
}
span{
    text-align:center;
    margin:5px auto;
    display:block;
}

#conteneurAllArticle {
    width: 800px;
    border: 1px solid white;
    margin : 5px auto 0px auto;
}
#conteneurAllArticle:first-child{
    border:1px solid white;
    width:100%;
}
.conteneur1Article {

    border:1px solid white;
    margin:5px 5px 0px 5px;
    height:200px;
}

#photoArticle {
    text-align: center;
    width: 200px;
    height: 200px;
    border: 1px solid red;
    display: inline-block;
}
.photoArticle {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
}
.photoArticle:hover {
        z-index: 18;
    }
#allDataArticle {
    width: 560px;
    height: 190px;
    display:inline-block;
    vertical-align:top;
    padding:5px;
    font-size:16px;
}
.descriptif{
    position:absolute;
    width:190px;
    height:90px;
    top:100px;
    left:0px;
    z-index:19;
    background-color:rgba(245,245,245,0.6);
    color:rgba(0,0,0,1);
    text-align:center;
    padding:5px;
    font-weight:bolder;
}
.descriptif:hover{
    z-index:21;
}
.conteneurArticle{
    position:relative;
    width:201px;
    height:200px;
    display:inline-block;
    border-right:1px solid white;
}