@using MasterPage.Models
@model List<GetAllArticlesResult>
@{
    ViewBag.Title = "TEST TITRE";

    Layout = "~/Views/_test_Page_Disposition_01.cshtml";
}
<h2>Index</h2>


@foreach (var r in Model) {

    @Html.Partial( "_PartialPage1", r );
    // attention les paramètres doivent avoir le même nom... encore....
    //@Html.Action( "ArticleItem", new { id = r.id } );
    // injection d'un objet dans la vu partielle
    @*@Html.Partial( "nomVuPartielle", ObjetApasser );*@

}


@section footer {
    <div id="footer">Articles listés : <span id="NbArticleListé">@ViewBag.number</span></div>
}